<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="myads" *ngIf="folder === 'İlanlarım'">
    <ion-card mode="ios" button="true" type="button" *ngFor="let ad of adDetails">
      <img src="{{ad.thumb}}" (click)="goAd(ad.ad_id)">
      <div class="card-top">
        <ion-chip>
          <ion-icon name="location-sharp" color="light"></ion-icon>
          <ion-label>{{ad.neighborhood}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{ad.price}}&#8378;</ion-label>
        </ion-chip>
      </div>
      <ion-card-header (click)="goAd(ad.ad_id)">
        <ion-card-title>{{ad.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
