ion-content {
  --background: #fffffffa;
  --padding-start: 7px;
  --padding-end: 7px;
  text-align: center;
}

ion-menu-button {
  color: var(--ion-color-light);
}

ion-toolbar {
  --min-height: 64px;
}

ion-title {
  font-size: 22px;
  font-weight: lighter;
}

ion-card {
  position: relative;
  width: 97%;
  height: 170px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-top: 8.5px;
  text-align: center;
}

ion-card-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00000088;
}

ion-card-title {
  font-size: 16px;
  display: inline-block;
  color: var(--ion-color-light);
  white-space: nowrap;
  text-overflow: ellipsis;
}

ion-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-top ion-chip:first-child {
  --background: #000000ab;
  --color: #fff;
}

.card-top ion-chip:last-child {
  --background: #00882dab;
  --color: #fff;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}