#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-40%);
}

#top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
}

#top-left {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 80px;
}

#container ion-item {
    border: 1.5px solid;
    border-color: rgba(44, 2, 61, .5);
    border-radius: 30px;
    margin-top: 20px;
    width: 85%;
    left: 7.5%;
}

.item-has-focus {
    --highlight-background: none;
}

#container h1 {
    margin-bottom: 30px;
}

ion-button {
    text-transform: none;
}

#signup-button {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    --background: rgb(32, 15, 132);
    --background: linear-gradient(90deg, rgba(32, 15, 132, 1) 0%, rgba(89, 14, 190, 1) 50%, rgba(145, 14, 246, 1) 100%);
}

#close {
    position: absolute;
    top: 3%;
    right: 1%;
    color: rgba(255, 255, 255, .7);
}

#login {
    position: absolute;
    bottom: 4px;
    width: 100%;
    color: rgba(0, 0, 0, .8);
    text-align: center;
}