<ion-content>

  <img *ngIf="keybControl" src="../../assets/g852.png" id="top-right">
  <img *ngIf="keybControl" src="../../assets/g1382.png" id="top-left">
  <ion-button routerLink="/" routerDirection="root" id="close" fill="clear" size="large">
    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>

  <div id="container">
    <h1>Kayıt Ol</h1>
    <ion-item>
      <ion-input placeholder="İsim" type="text"></ion-input>
      <ion-icon name="person-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Soyisim" type="text"></ion-input>
      <ion-icon name="person-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="E-posta" type="email"></ion-input>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Şifre" type="password"></ion-input>
      <ion-icon name="lock-open-outline" slot="start"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Şifre tekrar" type="password"></ion-input>
      <ion-icon name="lock-open-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-button shape="round" id="signup-button">Kayıt Ol</ion-button>
  </div>

  <div *ngIf="keybControl" id="login" [routerLink]="['/login']">
    <h6>Zaten bir hesabınız var mı? <b>Giriş yap</b></h6>
  </div>

</ion-content>
