ion-menu-button {
    color: var(--ion-color-light);
    padding-left: 15px;
    padding-top: 10px;
}

ion-toolbar {
    --min-height: 64px;
}

ion-content {
    --background: var(--ion-color-secondary);
}

ion-content ion-toolbar {
    --background: transparent;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 24px 20px 24px;
    background: var(--ion-color-secondary);
}

.header ion-title {
    color: var(--ion-color-light);
    font-size: 26px;
    font-weight: lighter;
    padding-inline-start: 0px;
}

.content {
    background: #ffffff;
    width: 100%;
    height: calc(100% - 66px);
    padding: 15px 0;
    border-radius: 25px 25px 0 0;
}

ion-list {
    margin-top: 10px;
}

h1 {
    font-size: 18px;
}

ion-avatar {
    width:45px;
    height: 45px;
    margin-bottom: 14px;
}

.lasttime {
    font-size: 13px;
    color: gray;
}