<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button><img src="../../assets/menu.svg" style="width: 20px"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <ion-title>Mesajlar</ion-title>
    <span></span>
  </div>

  <div class="content">
    <ion-list>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h1>Donald Trump</h1>
          </ion-text>
          <p>Oval ofisten beyaz koltuk</p>
        </ion-label>
        <p class="lasttime" slot="end">45 dk önce</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
