ion-toolbar {
    --min-height: 64px;
}

ion-title {
    font-size: 22px;
    font-weight: lighter;
}

ion-back-button {
    --icon-margin-start: 7px;
    --icon-font-weight: lighter;
}

.adtitle {
    margin: 0px;
    padding: 2px 15px;
    text-align: center;
}

.username {
    padding-top: 7px;
    padding-left:10px;
    display: grid;
    gap: 5px;
}

ion-segment {
    margin-top: 10px;
}

#descr {
    padding: 15px;
}